<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.StudentMapper">

    <resultMap id="studentMap" type="Student">
        <id column="student_id" property="studentId"/>
        <result column="student_Name" property="studentName"/>
        <result column="birthday" property="birthday"/>
        <result column="hometown" property="hometown"/>
        <association property="clazz" javaType="Clazz">
            <id property="clazzId" column="clazz_id"/>
            <result property="clazzName" column="clazz_name"/>
            <association property="teacher" javaType="Teacher">
                <id property="teacherId" column="teacher_id"></id>
                <result property="teacherName" column="teacher_Name"/>
            </association>
        </association>
    </resultMap>

    <resultMap id="selectedCoursesMap" type="student">
        <id column="student_id" property="studentId"/>
        <result column="student_Name" property="studentName"/>
        <result column="birthday" property="birthday"/>
        <result column="hometown" property="hometown"/>
        <association property="clazz" javaType="Clazz">
            <id property="clazzId" column="clazz_id"/>
            <result property="clazzName" column="clazz_name"/>
            <association property="teacher" javaType="Teacher">
                <id property="teacherId" column="teacher_id"></id>
                <result property="teacherName" column="teacher_Name"/>
            </association>
        </association>
        <collection property="courses" ofType="Course">
            <id column="course_id" property="courseId"></id>
            <result column="course_name" property="courseName"></result>
        </collection>
    </resultMap>


    <select id="selectManyToOne" resultMap="studentMap">
        select *
        from t_student s,
             t_clazz c,
             t_teacher t
        where s.student_id = #{id}
          and s.clazz_id = c.clazz_id
          and c.clazz_id = t.clazz_id
    </select>


    <select id="getSelectedCourses" resultMap="selectedCoursesMap">
        SELECT *
        FROM t_student s
                 LEFT JOIN t_clazz c ON s.clazz_id = c.clazz_id
                 LEFT JOIN t_teacher t ON c.clazz_id = t.clazz_id
                 LEFT JOIN t_course_student cs ON cs.student_id = s.student_id
                 LEFT JOIN t_course course ON course.course_id = cs.course_id
        WHERE s.student_id = #{studentId}
    </select>


    <select id="dynamicSelect" resultType="com.example.domain.Student">
        select *
        from t_student
        <where>
            <if test="clazzId != null">
                clazz_id = #{clazzId}
            </if>
            <if test="studentName != null">
                and student_name = #{studentName}
            </if>
            <if test="hometown != null">
                and hometown like '%' #{hometown} '%'
            </if>
        </where>
    </select>


    <insert id="batchInsert" parameterType="Student">
        INSERT INTO t_student VALUES
        <foreach collection="students" item="student" index="index" separator=",">
            (#{student.studentId},#{student.clazzId},#{student.studentName},#{student.hometown},#{student.birthday})
        </foreach>
    </insert>


    <update id="batchUpdate" parameterType="student">
        <foreach collection="students" item="student" open="" close="" separator=";">
            UPDATE t_student t
            <set>
                <if test="student.clazzId != null">
                    `clazz_id` = #{student.clazzId},
                </if>
                <if test="student.studentName != null">
                    `student_name` = #{student.studentName},
                </if>
                <if test="student.hometown != null">
                    `hometown` = #{student.hometown},
                </if>
                <if test="student.birthday != null">
                    `birthday` = #{student.birthday},
                </if>
            </set>
            where t.student_id = #{student.studentId}
        </foreach>
    </update>


    <delete id="batchDelete" parameterType="int">
        delete from t_student
        where student_id in
        <foreach collection="idList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="updateById">
        update t_student
        <set>
            <if test="student.clazzId != null">
                clazz_id = #{student.clazzId},
            </if>
            <if test="student.studentName != null">
                student_name = #{student.studentName},
            </if>
            <if test="student.birthday != null">
                birthday = #{student.birthday},
            </if>
            <if test="student.hometown != null">
                hometown = #{student.hometown},
            </if>
        </set>
        where student_id = #{student.studentId};
    </update>


</mapper>